html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
}


main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


h1 {
    text-align: center;
}

/* 📜 histórico do chat (altura controlada) */
#chat {
    height: 40vh;          /* 🔥 NÃO ocupa tudo */
    max-height: 350px;     /* limite máximo */
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 10px;

    background: #d1d1bb;
    padding: 10px;
    border-radius: 10px;
}

.msg {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.user {
    align-self: flex-end;
    background: #ffffff;
    color: rgb(0, 0, 0);
    border-bottom-right-radius: 0;
}

/* 🤖 bot */
.bot {
    align-self: flex-start;
    background: #eee;
    border-bottom-left-radius: 0;
}


.input-area {
    display: flex;
    gap: 10px;
}


.input-area input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}


.input-area button {
    padding: 12px 18px;
    border: 1px solid #0000004c;
    border-radius: 8px;
    background: #ffffff;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.input-area button:hover {
    background: #36ae36;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


.input-area button:active {
    transform: scale(0.95);
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    width: 100%;
}